

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 350px) { 
    div ul.home-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    ul.list-unstyled.home-menu{
        justify-content: center;
    }
    div img.header-logo{
        visibility: hidden;
    }
    div.container-left {
        display: none;
    }
    .profile-picture {
        max-width: 16rem;
    }
    div.container.container-mini {
        display: flex;
    }
    div.mobile-nav ul.nav{
        display: flex;
        justify-content: center;
    }
    .body-stuff{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .working-title{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
 }
 @media (min-width: 350px) { 
    div ul.home-menu{
        display: flex;
        flex-direction: column;
    }
    div.main-menu{
        display: flex;
        justify-content: center;
    }
    div img.header-logo{
        visibility: hidden;
    }
    div.container-left {
        display: none;
    }
    div.mobile-nav ul.nav{
        display: flex;
        justify-content: center;
    }
    .profile-picture {
        max-width: 16rem;
    }
    .body-stuff{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    p.working-title{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
 }

/* // Medium devices (tablets, 768px and up) */

@media (max-width: 450px) { 
    div ul.home-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div img.header-logo{
        visibility: hidden;
    }
    div.container-left {
        display: none;
    }
    div.mobile-nav ul.nav{
        display: flex;
        justify-content: center;
    }
    .profile-picture {
        max-width: 16rem;
    }
    .body-stuff{
        padding-left: 2em;
        padding-right: 2em;
    }
    .working-title{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
 }


/* // Large devices (desktops, 992px and up) */
@media (min-width: 700px) {

    div ul.home-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.container-left {
        display: flex;
    }
    div.container.container-mini {
        display: none;
    }
    div.mobile-nav ul.nav{
        display: flex;
        justify-content: center;
    }
    .profile-picture {
        max-width: 16rem;
    }
    .body-stuff{
        padding-left: 8em;
        padding-right: 8em;
    }
    p.working-title{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
  }

/* @media (max-width:520px){
    img .profile-picture{
    }
} */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {

    div img.header-logo{
        visibility: visible;

    }
    .profile-picture {
        max-width: 16rem;
    }
    div ul.home-menu{
        display: flex;
        justify-content: space-between;
    }
    ul.home-menu li{
        margin: 2em;
    }
 }



 
body{
    background-color: darkcyan;
    background-image: url('img/bg-patt.png') ;

}

a{
    text-decoration: none;
    color: #006666;
}
.container {
    margin-top: 0.15em;
    margin-bottom: 0.5em;
}
.navbar {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}

footer div.footer {
    padding-top: 0.45em;
    text-align: center;
    padding-bottom: 0.55em;
}

.nav-link{
    color: #006666;
}

div.clipart {
    align-content: center;
}

.body-stuff {
    /* width: 50px;
    height: 50px; */
    /* Center horizontally*/
    margin: 0 auto;
    margin-top: 1.5rem;
    /* padding-left: 4em;
    padding-right: 4em; */
    max-width: 90rem;
}
.about-stuff {
    margin: 0 auto;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 36rem;
}

/* .body-content {
    margin-left: 4em;
    margin-right: 4em;
    max-width: 36rem;
} */

.card{
    border: 3px solid #d1d0d5;
    
}

.card-img-top {
    padding: 0.25em;
}

.card-header {
    display: block;
    background-color: #006666;
}

   div h2.card-header {
        color: #FFFFFF;
    }



.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
}

.header-bar{
    display: flex;
    background-color: #006666;
}

.header-logo{
    display: flex;
    max-height: 3rem;
    padding: 0.25rem 0.25rem;
    padding-top: 0.5rem;
    border: 0;
    align-items: center;
}
.static-nav-logo{
    display: inline-block;
    max-height: 1.75rem;
    padding-bottom: .2rem;
    

}



    a .static-active{
    font-weight: 900;
}


.nav-pills .nav-link.active{
    background-color: #006666;
    white-space:nowrap;
    margin-left: 2px;
    margin-right: 2px;
}

.container-row{
    padding: 1rem;
}

.container-mini{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* display: flex; */
    justify-content: space-evenly;
    /* display: none; */
}




.splashcontent { 
margin-top: 0.5rem;
background-color: white;
}

.working-title{
    padding-left: 2rem;
    justify-content: center;
}

.home-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-bottom: .75rem;
}


.home-img{
    display: block;
    max-width: 10rem;
    transition-property: transform;
    transition-duration: 1s ease;
}

.home-img:hover{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.home-img2{
    display: block;
    max-width: 10rem;
    transition-property: transform;
    transition-duration: 1s;
}
.home-img2:hover{
    animation-name: rotate2; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.profile-picture {
    display: flex;
    width: auto;
    height: auto;
    border: lightcyan .5rem ;
    border-style:ridge;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  a.card-link:hover{
    font-weight: normal;
    }
    a.card-link.active:hover{
        font-weight: normal;
    }

  a:hover{
    color:#006666;
    font-weight: bolder;
  }
  a.nav-link:hover{
    color:#006666;
    font-weight: bolder;
  }
  a.active:hover{
    font-weight: inherit;
}

